.card{
	background-color: white;
	border-radius: 8px;
	padding: 24px;
	display: flex;
	gap: 24px;
	cursor: pointer;
	text-decoration: none;
	color: black;
}
.poster{
	width: 100px;
	height: 120px;
	border-radius: 8px;
	object-fit: cover;
}
.info{
	display: flex;
	flex-direction: column;
	gap: 12px;
	
}
.title{
	font-size: 20px;
	font-weight: 600;
}
.wrapper{
	display: flex;
	gap: 16px;
}
.light{
	font-size: 14px;
	color: #ABABAB;
	width: 90px;
	font-weight: 300;
}
.main{
	font-size: 14px;
	font-weight: 300;
	max-width: 600px;
}