.widget{
	padding: 24px;
	background-color: white;
	border-radius: 8px;
	width: 408px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 232px;
}
.title{
	font-size: 16px;
	font-weight: 600;
}