.btn{
	padding: 10px 16px;
	border: 1px solid #FF5500;
	border-radius: 8px;
	font-size: 14px;
	cursor: pointer;
}
.outline{
	color: #FF5500;
	background: none;
	transition: all 0.3s ease;
	&:hover{
		border-color: #E94E00;
		color: #E94E00;
		transition: all 0.3s ease;
	}
}
.fill{
	color: white;
	background-color: #FF5500;
	transition: all 0.3s ease;
	&:hover{
		background-color: #E94E00;
		transition: all 0.3s ease;
	}
}